html {
  width: 100%;
  height: 100%;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  background: #d2d2d254;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
}

.container, #app {
  height: 100%;
  width: 100%;
} 

.home-container {
  height: 100%;
  width: 100%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cityName-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50;
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.btn-success {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.header {
  font-size: 45px;
  color: #000;
  font-weight: 100;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding: 5px;
}
.navbar-container{

  background:#0b64ad ;
}

  .forecast-container {
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 50px auto;
  }
  .dayContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 35px;
    padding: 10px;
    background: #fff none repeat scroll 0 0;
    border: 1px solid #e1e8ed;
    border-radius: 6px;
  }
  .single-item{
    margin-left: auto;
    margin-right: auto;
  }
  .dayContainer-cursor{

    cursor: pointer;
  }
  .forecast-header {
    font-size: 65px;
    color: #333;
    font-weight: 100;
    text-align: center;
  }
  .forecast-loading{
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  .subheader {
    font-size: 30px;
    color: #333;
    font-weight: 100;
  }
  .subheaderTemp{
    font-size: 25px;
    color: #333;
    font-weight: 100;  
  }
  .weather {
    height: 130px;
  }

.description-container {
    font-size: 34px;
    font-weight: 100;
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
}
.error { border: 1px solid red; }